.blogCard{
    width: 380px;
    padding: 15px;
    padding-top: 5px;
    background-color: #f9fafa;
    box-shadow: 0 1px 5px #a6a8aa;
    height: 150px;
}

.blogCard:hover{
    background-color: #fff;
}


.blogCard--btn{
    margin: 15px auto;
    padding: 10px;
    border: 1px solid;
    background-color:  #007bff;;
    border-color:  #007bff;;
    border-radius: 10px;
}


.blogCard--btn:hover,.blogCard--btn:active{
    background: #007bffb4;
    border-color: #007bffb4;
}


.blogCard--btn a{
    text-decoration: none;
    color: #fff;
}